doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    //- cambios files
    script(src='/javascripts/jquery-3.7.1.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    script(src='/javascripts/fileManager.js')
  body
    block content
